.container {
	padding: 20px;
	width: 800px;
}

#js-playerPickElement,
#js-resultsTableElement {
    display: none;
}

.wrapper {
	width: 800px;  
	height: 300px;
	border: 5px solid black;
	margin: 100px auto 300px;
	background-color: #f9bc83;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.09' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}

#js-playerName {
	font-weight: 900;
}
#js-computerName {
	font-weight: 900;
}
